
html { height: 100% }

body { height: 100%; margin: 0; background-image: url('img/tiles.jpg'); }
    #map,#londonmap,#zurichmap,#tokyomap { height: 90vh; }
    .carousel .carousel-item {
    height: 90vh;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height:90vh;
}

.footer {
    height: 5vh;
    background-color: #bfbdce;
    border-top: 1px solid #2d2e35;

}
@media only screen and (min-width : 1600px) {
    .container { max-width: 1600px; }
}

/*   Change Color for Active Tabs     */

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:hover,
.nav>li>a:hover {
    background-color: #F47321;
    border-color: #FFFFFF;
    color: rgb(51, 19, 19);
}
        
/*   Change Color for Inactive Tabs     */

.nav-tabs>li>a {
    background-color: grey;
    border-color: #f7f2f8;
    font-weight: bolder;
}